$oldie: false !default;

// Vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;
@include establish-baseline;

// Colour palette
$turquoise: #1abc9c;
$dturquoise: #16a085;

$green: #2ecc71;
$dgreen: #27ae60;

$blue: #3498db;
$dblue: #2980b9;

$purple: #9b59b6;
$dpurple: #8e44ad;

$midnightblue: #34495e;
$dmidnightblue: #2c3e50;

$yellow: #f1c40f;
$dyellow: #f39c12;

$orange: #e67e22;
$dorange: #d35400;

$red: #e74c3c;
$dred: #c0392b;

$silver: #ecf0f1;
$dsilver: #bdc3c7;

$concrete: #95a5a6;
$dconcrete: #7f8c8d;

$white: #fff;
$offblack: #333;



// Now set a neutral colour for borders etc.
$neutralcolor 					: rgb(71,63,63);
$midneutralcolor 				: darken($neutralcolor,25%);
$darkneutralcolor 				: darken($neutralcolor,50%);
$lightneutralcolor 				: lighten($neutralcolor,25%);
$lighterneutralcolor 			: lighten($neutralcolor,50%);
$lightestneutralcolor 			: lighten($neutralcolor,70%);

// Now define another set of colours. These will be used to style alerts and buttons
$alertcolor 					: rgb(218,79,73);
$errorcolor 					: rgb(176,20,0);
$infocolor 						: rgb(216,220,162);
$inversecolor 					: rgb(65,65,65);
$successcolor 					: rgb(188,212,222);
$warningcolor 					: $errorcolor;

// Font stacks
$sans-font-stack: "proxima-nova", Helvetica, Arial, sans-serif;
$sans-heading: "proxima-nova-condensed";
$serif-heading: "abril-display";
$nav-font: "futura-pt-condensed";

// Next set variables for your design’s borders. 
// These will be inherited by many Rock Hammer elements below 

$bordercolor    				: $lighterneutralcolor;
$borderstyle					: solid;
$borderwidth 					: 1px;
$borderradius 					: 4px;


// =alerts ============

$alertpadding					: 8px 35px 8px 14px;

// Alerts have a default flat background colour
// Add an optional gradient in _bootstrap-alerts.scss
// Configure the gradient colours in _texture.scss
$alertbackgroundcolor 			: rgb(245,239,191);

// Set the alert’s border width
$alertborderwidth 				: $borderwidth * 2;

// And the alert’s border style
$alertborderstyle 				: $borderstyle;

// By default alert’s border is a tint of $alertbackgroundcolor. Adjust percentage as required
$alertbordercolor				: darken($alertbackgroundcolor, 20%);

// Set the alert’s border radius. Default is $borderradius defined above
$alertborderradius 				: $borderradius;

// Set the alert’s font-size. 
// Use only a number. Units (em/px/%) are not required
// Default is $basefontsize defined above
$alertfontsize 					: $base-font-size;

// By default colour is a tint of background colour. Adjust percentage as required
$alertcolor						: darken($alertbackgroundcolor, 75%);

// Add optional box-shadow values or ignore
// By default shadow colour is a tint of background colour. Adjust percentage as required
$alertshadow					: darken($alertbackgroundcolor, 10%);
$alertshadowblur				: 10px;





// Special alerts’ colours are derived from colour palettes above

// Set the error alerts’ border and text colours
$alertbordercolorerror   		: darken($errorcolor, 10%);
$alertcolorerror 				: lighten($errorcolor, 60%);

// Set the info alerts’ border and text colours
$alertbordercolorinfo   		: darken($infocolor, 10%);
$alertcolorinfo					: darken($infocolor, 50%);

// Set the inverse alerts’ border and text colours
$alertbordercolorinverse   		: $inversecolor;
$alertcolorinverse				: $white;

// Set the success alerts’ border and text colours
$alertbordercolorsuccess   		: darken($successcolor, 10%);
$alertcolorsuccess				: darken($successcolor, 50%);

// Set the warning alerts’ border and text colours
$alertbordercolorwarning   		: lighten($warningcolor, 20%);
$alertcolorwarning				: darken($warningcolor, 20%);