<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | ghijk templates</title>

    <!--[if (gt IE 8) | (IEMobile)]><!-->
    {{ "application.css" | asset_url | stylesheet_tag }}
    <!--<![endif]-->

    <!--[if (lt IE 9) & (!IEMobile)]>
    {{ "oldie.css" | asset_url | stylesheet_tag }}
    <![endif]-->
    <script src="//use.typekit.net/qbo7san.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    {% include "mast" %}

    {% block content %} {% endblock %}

    {% include "footer" %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/assets/js/vendor/jquery-1.9.1.min.js'>\x3C/script>")</script>

    {{ "app.js" | asset_url | script_tag }}
    
  </body>
</html>