@mixin example-mixin;
  // A mixin to be used in this module
  // If you have a mixin that will be reused in other modules, put it
  // in _global_mixins.sass

%example-widget{
  color: red;
  // A module definition

  // If you have --modifier versions of this module (see below)
  // consider extracting common bits out into a %placeholder
  // class and @extend-ing.
}

.example-widget--modifier {
  @extend %example-widget;  
  // or @extend %example-widget

  // Extends the root module to create a different
  // standalone module, e.g. .example-widget--large
  
  // Only @extend within modules. @extend-ing across modules
  // defeats the purpose of strictly isolating a module in its own file.

}
.example-widget__subcomponent{
  // A subcomponent of an .example-widget module.
  // e.g. .example-widget__close-button

}
.example-widget--is-somestate {
  // A state specific to this module.

  // This class is applied on top of the module class (e.g. via JS)
  // so doesn't need to @extend the original module.

  // So the HTML looks like
  // <b class="example-widget example-widget--is-somestate">
}