// Include at-breakpoint blocks without media queries for OldIE
$breakpoint-raw-output: $oldie;

// Mobile first fluid grid
$total-columns: 4;
$column-width: (60px / $base-font-size) + 0em;
$gutter-width: (20px / $base-font-size) + 0em;
$grid-padding: (10px / $base-font-size) + 0em;
$container-style: fluid;

// Breakpoints
$tablet: ((480px / $base-font-size) + 0em) 8;
$desktop: ((768px / $base-font-size) + 0em) 12;

// Container
// .l-wrap {
//   background: white;
//   min-height: 100%;
//   @include container($total-columns, $tablet, $desktop);

//   @include at-breakpoint($tablet) {
//       @include susy-grid-background;
//   }

//   @include at-breakpoint($desktop) {
//       $container-style: magic;
//       @include container;
//       @include susy-grid-background;
//   }
// }

.wrap {
	margin: 0 auto;
	max-width: 1000px;
	@include clearfix;
}